@import '~normalize.css';
@import '~@fontsource/roboto/300.css';
@import '~@fontsource/roboto/400.css';
@import '~@fontsource/roboto/500.css';
@import '~@fontsource/roboto/700.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  min-height: 100vh;
  background-color: black;
  color: white;
  transition: 0.3s ease;

  &.light {
    background-color: #dcdcdc;
    color: #121212;
  }

  .container {
    min-height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form {
  margin: 0 auto;
  max-width: 50ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px #666;
}

a {
  color: inherit;
  text-decoration: none;
}
